.jinrishici-sentence
  font-style: italic
  font-size: 15px
  color: #888
  margin-top: 0.5em


// 全局背景色
body,
.page,
.header,
.footer,
.main {
  background-color: #fff8e7 !important; // 奶油白
}




// 链接颜色
a {
  color: #3b7d99;
}
a:hover {
  color: #bb4d3b;
}

// 顶栏颜色
#l_header {
  background-color: #e5ddc5 !important;
  box-shadow: none !important;
}

// 文章块背景


.blur {
  background: rgba(250, 245, 235, 0.9) !important;  /* 柔和奶油白 */
  backdrop-filter: saturate(150%) blur(10px);
}